body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.header{
  width: 100%;
  height: 10%;
  border-bottom: 3px solid black;
}
h1{
  text-align: center;
  color: black;
  margin: 0;
  padding-top: 1.2%;
}
.container{
  width: 100%;
  height: 100vh;
  background: url('photo-1553733322-5e506a6001b6.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.main{
  width: 45%;
  height: 28%;
  margin: 0 auto;
  font-size: 25px;
  color: black;
  background-color: #ece9e6;
  margin-top: 15.5%;
}
.main p{
  padding: 40px 30px 30px 55px;
  width: 90%;
}
.music{
  background-color: #f1efe9;
  height: 100vh;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.container_music{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text_music{
  margin:5% 0px 20px 40px;
  width: 55%;
}
.text_music h2{
  color: rgb(70, 67, 64);
  font-size: 50px;
  margin-top: 0px;
  border-bottom: 5px solid #d77817;
  margin-bottom: 11%;
}
.text_music p{
  margin-left: 5%;
  font-size: 28px;
  width: 85%;
}
.quote{
  background-color:#d77817;
  width:90%;
  margin-top: 9%;
  margin-left: 10%;
}
.quote p{
  color: white;
  padding: 10px;
  font-size: 30px;
  text-align: right;
}
.fon_music{
  height: 100vh;
  width: 60%;
}
.fon_music img{
  width: 100%;
  height: 100%;
}
.programming{
  height: 100vh;
  width: 100%;
  background: url('emile-perron-xrVDYZRGdw4-unsplash.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.fon_programming{
  background-color: rgb(0, 0, 0, 0.7);
  width: 40%;
  margin-left: 6%;
  margin-top: 14%;
  height: auto;
}
.text_programming{
  color: white;
  padding: 40px 15px 20px 40px;
}
.programming h2{
  color: #d2a348;
  font-size: 50px;
  margin-top: 0px;
}
.text_programming p{
  margin-top: 1.5%;
  font-size: 25px;
}
.programming a{
    color: #d2a348;
}
.games{
  background-color: #f1efe9;
  height: 100%;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.container_games1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.fon_games1 {
  width: 55%;
  height: 30%;
}
.fon_games1 img{
  width: 100%;
  height: 100%;
}
.fon_games2 img{
  width: 100%;
  height: 100%;
}
.text_games{
  width: 45%;
  font-size: 28px;
  margin-right: 1%;
  text-align: right;
  margin-top: 2%;
}
.text_games h2{
  border-bottom: 5px solid rgb(117, 22, 22);
  font-size: 50px;
  text-align: right;
  color:rgb(117, 22, 22);
  margin-bottom: 10%;
}
.container_games2{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.fon_games2{
  width:47.5%;
  height: 30%;
margin-top: -0.2%;
margin-bottom: -0.3%;
}
.text_games2{
  width: 55%;
  margin-left: 1.5%;
  font-size:28px;
  margin-top: 5%;
}
.text_games2 p{
  width: 95%;
}
